{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
        <!--fait partie de la protection des cookies-->
            {{ form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">classe ton email</legend>
                <div class="form-group">
                    {{form.texte.label(class="form-control-label")}}
                    {% if form.texte.errors %}
                        {{ form.texte(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.texte.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.texte(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
</div>
{% endblock content %}