{% extends "layout.html" %}
{% block content %}
        <!-- si l'email est classée lorsqu'on appelle la page on affiche ce message  -->
        {% if classee is defined %}
        <div class="alert alert-success" role="alert">
          l'email a été classé!
        </div>
         {% endif %}
        <div class = 'row'>
            <div class= "col-2"></div>
            <div class= "col-8">
              <img src= "{{ url_for('static',filename='images/emailrangé.jpg') }}"class="img-fluid" alt="Responsive image">

            </div> 
            <div class= "col-2"></div>
        </div>
        <br>
        <br>
        <div class = 'row'>
          <div class= "col-2"></div>
          <div class= "col-8">
            <div class= 'text_accueil'>
            <p >
            Bienvenue chez Classifier Email!
            <br>
            L'application d'intelligence artificielle qui classe vos emails et vous aide à mieux vous organiser.
            <br>
            Créer votre compte maintenant pour classer vos emails.
            <br>
              <a href="/register">Je crée mon compte</a>
            </p>
            </div>
              
          </div> 
          <div class= "col-2"></div>
      </div>
  
{% endblock %}