accumulation-tree==0.6.2
attrs==20.3.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
dnspython==2.0.0
email-validator==1.1.1
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pybrake==0.4.6
pycparser==2.20
pyparsing==2.4.7
pytest==6.1.2
pyudorandom==1.0.0
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.20
tdigest==0.5.2.2
toml==0.10.2
urllib3==1.25.10
Werkzeug==1.0.1
WTForms==2.3.3
gunicorn ==20.0.4